<select (change)="changeLanguage($event)">
  <option value="en">English</option>
  <option value="ro">Romana</option>
</select>

<ul>
  <li><a routerLink="{{ 'menu.dashboard' | translate: ['app'] | async | lowercase }}">{{ 'menu.dashboard' | translate: ['app'] | async }}</a></li>
  <li><a routerLink="{{ 'menu.user' | translate: ['app'] | async | lowercase }}">{{ 'menu.user' | translate: ['app'] | async }}</a></li>
  <li><a routerLink="{{ 'menu.rights' | translate: ['app'] | async | lowercase }}">{{ 'menu.rights' | translate: ['app'] | async }}</a></li>
</ul>

<router-outlet></router-outlet>
